<!-- Resume  -->
<div class="modal fade" id="Resume"   tabindex="-1" dir="rtl"    aria-hidden="true">
    <div class="modal-dialog  modal-fullscreen">        
        <div class="modal-content">
            <div class="container">
                <div class="modal-header">
                    <button type="button"  data-bs-dismiss="modal" aria-label="Close"><i class="fa-regular fa-circle-xmark"></i></button>
                </div>
                <div class="modal-body">   
                    <h1 class="resumeTitle">السيرة الذاتية</h1>      

                    <div class="row Resume_row dir" >
                        <div class="col-md-6">
                            <h3 class="experiencesTitle font20">الخبرات</h3>
                            <div class="Resume_txt1">
                                <h4 class="jopTitle1 font14">مبرمج ومسؤول قسم تقنية المعلومات (IT)</h4>
                                <small class="jopTitle1Detail font12">في سفارة جمهورية أفغانستان بالرياض  <span>2023 - حتى الآن</span></small>
                                <ul class="jop1Detail">
                                    <li >- إنشاء وتطوير الموقع الإلكتروني.</li>
                                    <li >- تطوير نظام تقديم طلبات جواز السفر عبر الموقع.</li>
                                    <li >- تحويل باقي الخدمات المقدمة من السفارة الى التقديم الإلكتروني عبر الموقع.</li>
                                </ul>
                            </div>
                            <div class="Resume_txt1">
                                <h4 class="jopTitle2 font14">مشاريع تقنية</h4>
                                <small class="jopTitle2Detail font12">عملت على عدة مشاريع تقنية من خلال العمل عن بعد  </small>
                                <ul class="jop2Detail">
                                    <li>- موقع إلكتروني لمكتب محاماة:<br> <a href="https://abdurehmannazer.github.io/Sumo_Al_Insaf/" style="color: white;">Sumo_Al_Insaf</a> </li>
                                    <li>- موقع إلكتروني لعرض مواقيت الصلاة <br><a href="https://abdurehmannazer.github.io/New-Prayer-Time/" style="color: white;">Prayer-Time</a></li>
                                    <li>- موقعي الخاص هذا وفيه سيرتي الذاتية و أعمالي.</li>
                                </ul>
                            </div>
                            <div class="Resume_txt1">
                                <h4 class="jopTitle3 font14">إداري</h4>
                                <small class="jopTitle3Detail font12">في مؤسسة إعلان للمقاولات وإدارة أملاك  <span>2023 - 2019</span></small>
                                <ul class="jop3Detail">
                                    <li>تنظيم المهام الإدارية و متابعتها.</li>
                                    <li>مدخل البيانات (المحاسبة).</li>
                                    <li>عمل تقارير كاملة عن المشتريات والمدفوعات.</li>
                                    <li>متابعة تنفيذ الطلبات وأوامر الشراء والتسليم.</li>
                                </ul>
                            </div>
                            
                            <div class="Resume_txt1">
                                <h4 class="jopTitle4 font14">إداري</h4>
                                <small class="jopTitle4Detail font12"> في سفارة جمهورية أفغانستان بالرياض <span>2019 - 2018</span></small>
                                <ul class="jop4Detail">
                                    <li>مدخل البيانات في لجنة الأرشيف الإلكتروني.</li>
                                    <li>عضو في القسم القانوني.</li>
                                    <li>مندوب السفارة لدى الجهات الحكومية.</li>
                                </ul>
                            </div>
                            <div class="Resume_txt1">
                                <h4 class="jopTitle5 font14">إداري</h4>
                                <small class="jopTitle5Detail font12">في أكاديمية القرآن الكريم بالمسجد النبوي<span>2018 - 2015</span></small>
                                <ul class="jop5Detail">
                                    <li>سكرتير شعبة الاختبارات.</li>
                                    <li>مسؤول شهادات الطلاب.</li>
                                    <li>عضو في لجنة تنظيم الاختبارات الفصلية.</li>
                                    <li>مدخل البيانات.</li>
                                    <li>مسؤول المكافآت اليومية للطلاب (المحاسبة)</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="education font20">التعليم</h3>
                            <div class="Resume_txt1">
                                <h4 class="edu1Title font14">الدراسة الذاتية (برمجة المواقع الإلكترونية)</h4>
                                <small class="edu1Small font12">
                                    مسار (Full Stack) من أكاديمية الزيرو ويب  <br>
                                    تقنيات FrontEnd: 


                                </small>
                                <ul class="w-50 dir_rtl ">
                                    <li class="text-start font14">HTML <img src="media/html.png" width="16px" alt=""> </li>
                                    <li class="text-start font14">CSS <img src="media/css.png" width="16px"  alt=""> </li>
                                    <li class="text-start font14">Bootstrap <img src="media/bootstrap.png" width="16px" height="14px" alt=""> </li>
                                    <li class="text-start font14">Javascript <img src="media/js.png" width="16px"  alt=""> </li>
                                    <li class="text-start font14">Vue.js <img src="media/vue.png" width="16px"  alt=""> </li>
                                </ul>
                                <small class="p-0 Backend  font12">تقنيات Backend:</small>
                                <ul class="w-50 dir_rtl">
                                    <li class="text-start font14">PHP <img src="media/php.png" width="20px"  alt=""> </li>
                                    <li class="text-start font14">Laravel <img src="media/985px-Laravel.svg.png" width="20px"  alt=""> </li>
                                    <li class="text-start font14">DB: MySQLi <img src="media/sql.ong.png" width="20px"  alt=""> </li>
                                </ul>
                                <small class="p-0 otherTechniques font12">التقنيات الأخرى:</small>
                                <ul class="w-50 dir_rtl">
                                    <li class="text-start font14">Github <img src="media/GitHub-Mark-ea2971cee799.png" width="20px"  alt=""> </li>
                                    <li class="text-start font14">Excel <img src="media/Microsoft_Office_Excel_(2019–present).svg.png" width="20px"  alt=""> </li>
                                    <li class="text-start font14">Office <img src="media/Microsoft_Office_logo_(2013–2019).svg.png" width="20px"  alt=""> </li>
                                </ul>
                            </div>
                            <div class="Resume_txt1">
                                <h4 class="mainAducation font14 ">الدراسة الأساسية </h4>
                                <ul class="dir">
                                    <li class="mb-3 collage font12">درجة البكالوريوس في العلوم الشرعية <br>
                                        <span style="font-size: 14px; display: block; ">من جامعة دار العلوم باكستان  - فرع معهد المدينة المنورة</span>
                                    </li>                                
                                </ul>
                            </div>                            
                            <div class="Resume_txt1">
                                <h4 class="courses font14">الدورات التعليمية </h4>
                                <ul class="dir">                                    
                                    <li class="mb-3 course1Title font12">دبلوم إدارة أعمال (القيادة101 - 501)
                                        <span style="font-size: 14px; display: block;;">من مركز دراسات القيادة - المدينة المنورة </span>
                                    </li>
                                    <li class="mb-3 course2Title font12">دورة مبادئ إدارة الأعمال
                                        <span style="font-size: 14px; display: block;  ">من أكاديمية البحر الزاخر لتطوير الموارد البشرية - عن بعد </span>
                                    </li>
                                    <li class="mb-3 course3Title font12">دورة متخصصة في برنامج Word و Excil
                                        <span style="font-size: 14px; display: block; ">من أكاديمية المسجد النبوي </span>
                                    </li>
                                    <li class="mb-3 course4Title font12">دورة اللغة الانجليزية، المرحلة (الابتدائية والمتوسطة)
                                        <span style="font-size: 14px; display: block;">من جامعة الملك في لندن - عن بعد </span>
                                    </li>
                                </ul>
                            </div>                            
                        </div>
                    </div>   

                    <div class="row Resume_row row2 dir" >
                        <div class="col-md-6" >
                            <h3 class="skillsTitle font14">المهارات المهنية</h3>
                            <div class="Resume_txt1">
                                <p>
                                    <span class="skill1 font12">برمجة المواقع</span>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                </p>
                                <p>
                                    <span class="skill2 font12">الحاسب الآلي</span>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                </p>
                                
                                <p>
                                    <span class="skill3 font12">المهام الإدارية</span>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>       
                                </p>
                                <p>
                                    <span class="skill4 font12"> المهام السكرتارية</span>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>       
                                </p>
                                <p>
                                    <span class="skill5 font12">البحث والتطوير</span>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-regular fa-circle"></i>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="languages font14">اللغات والمهارات الشخصية</h3>
                            <div class="Resume_txt1">
                                <p>
                                    <span class="langAR font12">اللغة العربية</span>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                </p>
                                <p>
                                    <span class="langEN font12">اللغة الانجليزية</span>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <!-- <i class="fa-solid fa-circle-half-stroke fa-rotate-30"></i> -->
                                    <i class="fa-regular fa-circle"></i>
                                    <i class="fa-regular fa-circle"></i>
                                </p>
                                <p>
                                    <span class="langFA font12">اللغة الفارسية</span>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-regular fa-circle"></i>
                                </p>
                                <p>
                                    <span class="langUZ font12">اللغة الاوزبكية</span>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-solid fa-circle"></i>
                                    <!-- <i class="fa-solid fa-circle-half-stroke fa-rotate-180"></i> -->
                                    <i class="fa-regular fa-circle"></i>
                                    <i class="fa-regular fa-circle"></i>
                                </p>
                            </div>
                            <div class="Resume_txt1">
                                <div>
                                    <p class="Accuracy font12">الدقة في أداء المهام</p>
                                    <p class="responsibilities font12">تحمل المسؤوليات</p>
                                </div>
                                <div>
                                    <p class="Dialogue font12">مهارات الحوار</p>
                                    <p class="behavior font12">التعامل الرحب  </p>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row3">
                            <button class="col-sm-4" type="button"> 
                                <a href="https://drive.google.com/file/d/1U1uKtqsY7CT8gnSfg1O_YdkPNgPSinhv/view?usp=sharing" class="printCV">
                                طباعة السيرة الذاتية 
                                    <i class="fa-solid fa-print"></i>
                                </a>
                            </button>
                    </div>
                    

            </div>
        </div>
        </div>
    </div>
</div>
